<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
  id = "com.transcendentalfruit.geo"
  version = "0.0.1" >
  <platform name="android">
    <icon src="res/android/icon.png" density="hdpi" />
    <icon src="res/android/icon96.png" density="xhdpi" />
    <icon src="res/android/icon144.png" density="xxhdpi" />
  </platform>
  <plugin name="cordova-plugin-geolocation" />
</widget>
